<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/normalize/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/fontawesome/css/all.css' />
    <link rel='stylesheet' href='/stylesheets/ol/ol.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="/javascripts/lib/require.js"></script>
    <script src="/javascripts/main.js"></script>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
