::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(105, 135, 161); 
}

::-webkit-scrollbar-thumb {
  background: rgb(88, 121, 150); 
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(68, 99, 126); 
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: rgb(105, 135, 161);
  overflow-y: scroll;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.show {
  display: inline-block;
}